### Data type

### Numbers

In [5]:
1 + 1

2

In [ ]:
1 * 3

In [ ]:
1 / 2

In [ ]:
2 ** 4

In [ ]:
4 % 2

In [ ]:
5 % 2

In [ ]:
(2 + 3) * (5 + 5)

### Variable

In [ ]:
name_of_var = 2
x = 2
y = 3
z = x + y
z

### String

In [ ]:
'single quotes'
"double quotes"
"wrap lot's of other quotes"

In [4]:
### Printing

x = 'hello'
x
print(x)
num = 12
name = 'Sam'
print('My number is: {one}, and my name is {two}'.format(one=num, two=name))

hello
My number is: 12, and my name is Sam

In [5]:
print('My number is: {}, and my name is {}'.format(num, name))

My number is: 12, and my name is Sam

### Lists

In [10]:
[1, 2, 3]
['hi', 1, 2, 3]
my_list = ['a', 'b', 'c']
my_list.append('d')
my_list
my_list[0]
my_list[1]
my_list[1:]
my_list[0] = 'NEW'
my_list
nest = [1, 2, 3, [4, 5, ['target']]]
nest[3]
nest[3][2][0]

'target'

### Dict

In [12]:
d = {'key1' : 'item1', 'key2' : 'item2'}

In [13]:
d

{'key1': 'item1', 'key2': 'item2'}

In [14]:
d['key1']

'item1'

### Booleans

In [ ]:
True
False

In [ ]:
### Tuples

In [17]:
t = (1, 2, 3)
t[0]

1

In [15]:
t[0] = 'NEW' ### Tuples are immutable types in python

TypeError: 'tuple' object does not support item assignment

In [ ]:
### Handle
t = list(t) #make t[0] mutable
t[0] = 'X' #now new assignment will be valid
t = tuple(t) #make t[0] again a tuple

### Sets

In [27]:
{1, 2, 3}

{1, 2, 3}

In [28]:
{1, 2, 2, 2, 2, 2, 3, 3, 1, 2, 3}

{1, 2, 3}

### Logic Operators

In [ ]:
(1 > 2) and (2 < 3)
(1 > 2) or ( 2 < 3)
(1 == 2) or (2 == 3) or (4 == 4)

In [29]:
### Range
range(6)

range(0, 6)

In [30]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [31]:
### List Comprehension

In [32]:
x = [1, 2, 3, 4]
[item**2 for item in x]

[1, 4, 9, 16]

### Lambda

In [33]:
def times2(var):
    return var*2
times2(2)

4

In [40]:
lambda myvar: myvar*2

<function <lambda> at 0x0000022F057170D8>

### Map and filter

In [43]:
seq = [1, 2, 3, 4, 5]

map(times2, seq)

In [45]:
list(map(times2, seq))

[2, 4, 6, 8, 10]

In [46]:
list(map(lambda myvar: myvar*2, seq))

[2, 4, 6, 8, 10]

In [47]:
filter(lambda item: item%2 == 0, seq)

In [48]:
list(filter(lambda item: item%2 == 0, seq))

[2, 4]